@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities"; */

/* Arabic font */
.font-arabic {
  font-family: 'Noto Naskh Arabic', serif;
}

/* RTL overrides */
[dir="rtl"] .text-right {
  text-align: left;
}

[dir="rtl"] .text-left {
  text-align: right;
}

[dir="rtl"] .mr-4 {
  margin-right: 0;
  margin-left: 1rem;
}

/* Add more RTL overrides as needed */